@import "tailwindcss";

@theme {
  --color-primary: #166AAF;
  --color-secondary: #dcecfc;
  --font-poppins: var(--font-poppins);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}