/* Customizing Swiper Pagination */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #ccc;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #166AAF;
    /* Primary color */
    width: 25px;
    border-radius: 5px;
    transition: width 0.3s ease;
}

/* Fix for overlap issue: Force opacity on slides */
.swiper-slide {
    opacity: 0 !important;
    transition: opacity 0.5s ease;
    visibility: hidden;
}

.swiper-slide-active {
    opacity: 1 !important;
    visibility: visible;
    z-index: 10;
}